/* src/components/layout.css */
.global-wrapper {
    /* flex-direction: column; */
    max-width: var(--maxWidth-full);
    
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}

main{
    padding: var(--spacing-4);
    margin-left: 200px;
    margin-right: calc((var(--maxWidth-full) / 2) - ((var(--spacing-4) + var(--maxWidth-4xl))/2));
    width:var(--maxWidth-3xl);
}

.bio, .main-heading{
    margin-left:var(--spacing-8);
}