/* src/components/sidebar.css */
 
/**/
.sidebar-wrapper li{
  list-style-type: none;
  color: #005b99;
  margin-bottom: var(--spacing-1);
}

.sidebar-wrapper a {
  text-decoration: none; /* 링크의 언더바 제거 */
  color: inherit; /* 링크의 색상을 상속받도록 설정 */
}

.sidebar-wrapper a:hover {
  text-decoration: underline; /* 링크에 마우스를 올릴 때 언더바 추가 (선택 사항) */
  color: #f37601
}

.sidebar-wrapper{
  position: relative;
  margin-left:var(--spacing-8);
  width: var(--maxWidth-xs); 
  /* flex: 0 0 var(--maxWidth-xs); 사이드바의 너비 고정 */
}